%section
  .container
    .row
      .col-lg-12.text-center
        %h2= title
        %hr.star-primary
    .row
      .col-lg-8.col-lg-offset-2
        = form_for person do |f|
          = error_messages(person)
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.label :first_name, class: 'control-label'
              = f.text_field :first_name, class: 'form-control', placeholder: 'First Name', autofocus: true, require: true
              %p.help-block.text-danger

          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.label :last_name, class: 'control-label'
              = f.text_field :last_name, class: 'form-control', placeholder: 'Last Name'
              %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.label :email, class: 'control-label'
              = f.email_field :email, class: 'form-control', placeholder: 'Email'
              %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.label :job, class: 'control-label'
              = f.text_field :job, class: 'form-control', placeholder: 'Job'

          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.label :gender, class: 'control-label'
              = f.select :gender, Person::GENDER, { include_blank: 'Select a gender' }, class: 'form-control'

          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.label :bio, class: 'control-label'
              = f.text_area :bio, class: 'form-control', placeholder: 'Bio'

          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.label :picture, class: 'control-label'
              = f.text_field :picture, class: 'form-control', placeholder: 'Picture'

          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = f.label :birthdate, class: 'control-label'
              = f.date_field :birthdate, class: 'form-control input-lg normal-font-size', value: @person.birthdate
          %br
          .row
            .form-group.col-xs-12
              = f.submit 'Save', class: 'btn btn-success'
              = link_to 'Cancel', cancel_action, class: 'btn btn-default'
