.row
  .col-lg-12
    %h1 Welcome
    %hr

- if @people.empty?
  .row
    .col-lg-12
    No people please create a new one
    = link_to 'Add Person', new_person_path, class: 'btn btn-success'

- else

.row
  .col-lg-12
    - @people.each do |person|
      .col-lg-4.col-sm-6.text-center
        %img.img-circle.img-responsive.img-center{ src: person.picture, width: '100', height: '100' }
        %h5= link_to person.full_name, person_path(person)
        %h5= person.email
        %h5
          Age:
          = person.age

        = link_to person_path(person), method: :delete, data: { confirm: "Are you sure you want to delete '#{person.full_name}'?"} do
          Delete
          %i.fa.fa-fw.fa-trash

    .text-center
      = will_paginate @people
