%section
  .container
    .row
      .col-lg-12.text-center
        %h2= @person.full_name
        %hr.star-primary
        %img.img-circle.img-responsive.img-center{ src: @person.picture, width: '200', height: '200' }
        %h3
          = @person.job_titleize
          %span{ class: 'js-tooltip', 'data-original-title' => "#{@person.gender_titleize}", 'data-placement' => 'top', 'data-toggle' => 'tooltip' }
            %i{ class: "fa fa-fw fa-#{@person.gender_icon_name}" }
        %h5
          Email:
          = @person.email
        %h5
          Birthdate:
          = @person.birthdate_formatted
          %i{ class: "fa fa-fw fa-birthday-cake" }

    - if @person.bio?
      .row
        .col-lg-8.col-lg-offset-2.tex-center

          %h5.biography-content
            %b Bio:
            %br
            = @person.bio
    %hr
    .row
      .col-lg-12.text-center
        = link_to 'Back', people_path, class: 'btn btn-default'
        = link_to 'Edit', edit_person_path(@person), class: 'btn btn-primary'
        = link_to 'Delete', person_path(@person), method: :delete, data: { confirm: "Are you sure you want to delete '#{@person.full_name}'?"}, class: 'btn btn-danger'
