
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>People Management System</title>
  </head>
  <body style="width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;font-size:20px;">
    <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="margin:0; padding:0; width:100% !important; line-height: 100% !important;">
      <tr>
        <td bgcolor="#FFF">
          <table cellpadding="0" cellspacing="0" border="0" align="center"  width="100%">
            <tr>
              <td height="30"></td>
            </tr>
            <tr>
              <td width="560" align="center" border="0">
                <table cellpadding="0" cellspacing="0" border="1" bordercolor="#E6E6E6">
                  <tbody>
                    <tr>
                      <td>
                        <table cellpadding="0" cellspacing="0" border="0" width="560">
                          <tbody>
                            <tr width="560" height="67">
                              <td colspan="3" bgcolor="#2c3e50" style="padding-left: 20px;">
                                <p style ="color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:25px; line-height:1.4em;" >
                                  <span>People Management System</span></p>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="3" height="20"></td>
                            </tr>
                            <tr>
                              <td width="25"></td>
                              <td width="510">
                                <table cellpadding="0" cellspacing="0" border="0">
                                  <tbody>
                                    <tr>
                                      <td  width="510">
                                        <p style ="color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:1.4em;" >
                                          <span>Hello <%= @recipient.full_name %></span></p>

                                        <p style ="color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:1.4em;" >
                                          <span><%= "Please notice that #{@person[:full_name]} has left the application"%></span></p>

                                        <p style ="color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:1.4em;" >
                                          <span>Regards,</span></p>
                                        <p style ="color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:1.4em;" >
                                          <span>People Management System (PMS)</span></p>
                                        <br/>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td width="25"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td height="30">&nbsp;</td>
            </tr>
            <tr>
              <td height="36">
                <div style ="color:#7A797E; font-family:Arial, sans-serif; font-size:13px; text-align:center;">People Management System (PMS). Copyright <%= Time.now.year %>. All rights reserved
                </div>
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td height="25">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
