- flash.each do |type, message|
  %div#flash_messages{ class: "alert #{alert_class_for(type)} alert-dismissible fade in alert-page"}
    %button.close{'data-dismiss' => 'alert', type: 'button'}
      %i.fa.fa-times-circle
    = message
