%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %a.navbar-brand{ href: root_path } People Management System
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.page-scroll
          = link_to 'Add Person', new_person_path
        %li.page-scroll
          %a{ href: about_path } About
