%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2 About
        %hr.star-light

    .row
      .col-lg-12.text-center
        %p People Management System (PMS) is a RoR application - programming test proposed by GAP to manage people through CRUD (basics functions: list, create, update and delete persons) operations. Also have a notification system that allows notify all people via email when some person has been created or deleted.
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %a.btn.btn-outline{ href: 'https://luisdgutierrez05@bitbucket.org/luisdgutierrez05/people-management.git' }
          %i.fa.fa-download
          Source Code
    %br
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h5
          Developed by Luis David Gutierrez
        %a.btn-social.btn-outline{ href: 'https://co.linkedin.com/in/luisd05' }
          %i.fa.fa-fw.fa-linkedin
        %a.btn-social.btn-outline{ href: 'https://twitter.com/luisd0510' }
          %i.fa.fa-fw.fa-twitter
