!!!
%html
  %head
    %title People Management System
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/navigation'
    #flash_messages
      = render "shared/flash", flash: flash

    - if controller.controller_name == 'pages' && controller.action_name == 'about'
      = yield
    - else
      .container
        = yield
    %hr
    = render 'shared/footer'

  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = yield :javascript
